[submodule "pkgs/zig"]
	path = pkgs/zig
	url = git@github.com:delta1024Packages/zig.git
[submodule "pkgs/raygui"]
	path = pkgs/raygui
	url = git@github.com:delta1024Packages/raygui.git
[submodule "pkgs/rguilayout"]
	path = pkgs/rguilayout
	url = git@github.com:delta1024Packages/rguilayout.git
[submodule "pkgs/projman"]
	path = pkgs/projman
	url = git@github.com:delta1024Packages/projman.git
